<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/careymd_CSCI201_Assignment4/src/score/ScoreServer.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="score.ScoreServer"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="careymd_CSCI201_Assignment4"/>
</launchConfiguration>
